body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0f7fa; /* Light cyan background */
}

.weather-app {
    text-align: center;
    padding: 20px;
    background-color: #ffcccb; /* Card background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 300px;
}

input {
    padding: 10px;
    margin: 10px;
    width: 80%;
    border-radius: 5px; /* Add slight rounding for input */
}

button {
    padding: 10px 20px;  /* Increased padding to make button larger */
    margin: 10px;
    width: 70%;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text color */
    border: none; /* Remove border */
    border-radius: 50px; /* Makes button oval */
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
}

#weatherResult {
    margin-top: 20px;
}
